<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363857050875-cl8kn3a9qic4ng05du9g9jt5vu42u58g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363857050875-cl8kn3a9qic4ng05du9g9jt5vu42u58g</string>
	<key>API_KEY</key>
	<string>AIzaSyCdJXUEWqz957tp7TQ8sw9C_reScfGhqV0</string>
	<key>GCM_SENDER_ID</key>
	<string>363857050875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>islam-NourEldin.TrackingLocation</string>
	<key>PROJECT_ID</key>
	<string>trackinglocation-c3ac5</string>
	<key>STORAGE_BUCKET</key>
	<string>trackinglocation-c3ac5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363857050875:ios:b56ebbd49c3cf143c4c45e</string>
</dict>
</plist>